* text=auto !eol
doc/manual.sxw -text
/ext_emconf.php -text
/ext_icon.gif -text
/ext_localconf.php -text
/ext_tables.php -text
/locallang_db.xml eol=lf
pi1/class.tx_mwkeywordlist_pi1.php -text
res/js/tx_mwkeywordlist.js -text
static/constants.txt -text
static/setup.txt -text
